.Container{
  display: flex;
  align-content:flex-start;
  align-items: center;
  justify-content:space-evenly;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Submit{
  border: none;
  color: rgb(0, 128, 255);
  font-size: 24px;
  background: none;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}
.ContainerSec{
  display: flex;
  align-content:flex-start;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ContainerFour{
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.candidateForm{
  display: flex;
}

.ContainerThird{
  display: flex;
  align-items: center;
}

.RadioGroup{
  display:flex;
  align-items:center;
}

.ContainerFive{
  display: flex;
  align-items: center;
}
.ContainerSix{
  display: flex;
  justify-content: space-between;
}